
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html, body{
    width:100%;
    height:100vh;
    background-color: #252839;

}
/* Barra de Navegacion */
#fondoNav{
    background-color: transparent !important;
}
#logotipo{
    font-family: sans-serif;
    color: #252839;
    font-size: 3vw;
    margin-left: 1.5rem;
    margin-bottom: .5rem;
    color: #fff;
}
/* Titulo de FrontEnd */
#titulo-inicial{
    margin: auto;
    display: table;
}
#tituloFront{
    font-family: monospace;
    margin-left: 10%;
    float: left;
    position: relative;
    font-size: 8rem;
    color: #fff;
}
.spanTitulo{
    position: absolute;
    right: 0;
    width: 0;

    background: #252839;
    border-left: 2px solid #000;
    animation: maquina 5s infinite alternate steps(24);
}
@keyframes maquina{
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}



.nav{
    font-size: 1.3rem;
    font-family: sans-serif;
}
.nav-link{
    margin-right: 50px;
}

#letras-nav1{
    display: inline-block;
    position: relative;
}
#letras-nav1:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 5px;
    left: 0;
    background-color: #2f74c4;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
#letras-nav1:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#letras-nav2{
    display: inline-block;
    position: relative;
}
#letras-nav2:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 5px;
    left: 0;
    background-color: #2f74c4;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
#letras-nav2:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#letras-nav3{
    display: inline-block;
    position: relative;
}
#letras-nav3:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 5px;
    left: 0;
    background-color: #3498db;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
#letras-nav3:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#letras-nav4{
    display: inline-block;
    position: relative;
}
#letras-nav4:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 5px;
    left: 0;
    background-color: #3498db;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
#letras-nav4:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Texto inicial y boton */
#texto-inicial{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 20%;
    color: aliceblue;

}

.titulo2{
    font-size: 4rem;
}
#wrap {
    margin: 20px auto;
    text-align: center;
}

#wrap br {
    display: none;
}

.btn-slide, .btn-slide2 {
    position: relative;
    display: inline-block;
    height: 55px;
    width: 250px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid rgb(64, 138, 250);
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid #fdfdfd;
}

.btn-slide:hover {
    background-color: #0099cc;
}

.btn-slide2:hover {
    background-color: #252839;
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #fff;
}

.btn-slide2:hover span.circle2 {
    color: #252839;
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
    display: block;
    background-color: #252839;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 {
    background-color: #252839;
}

.btn-slide span.title,
  .btn-slide span.title-hover, .btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #252839;
    transition: .5s;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    color: #252839;
    left: 80px;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}
.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    color: #fff;
}
/* Imagen y texto personal */
#imagen{
    height: 300px;
    float: left;
    margin-right: 100px;
}
#texto-personal{
    font-family: sans-serif;
    float: center;
    margin-left: 50px;
    margin-right: 100px;
    text-align: justify;
    color: #fff;
}
#imagen-y-texto{
    margin-bottom: 20%;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

}
/* Tecnologias que domino */
.title{
    text-align: center;
    font-size: 5rem;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    margin-bottom: 100px;
}
.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 20%;
}
.contenedor .card{
    width: 330px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.contenedor .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.contenedor .card img{
    width: 330px;
    height: 220px;
    padding: 10px;
}
.contenedor .card h4{
    font-weight: 600;
}
.contenedor .card p{
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 300;
}
.contenedor .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/* Contacto */
.contacto{
    text-align: center;
    margin-bottom: 20em;
}
.iconos{
    height: 100px;
    width: 8%;
    margin-bottom: 10px;
    color: #fdfdfd;
    transform: scale(1);
    transition-duration: 0.5s;
}
.iconos:hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
}
#discord{
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

/* Scroll Personalizado */
body::-webkit-scrollbar{
    width: 8px;
    background-color: #fff;
}
body::-webkit-scrollbar-thumb{
    background: #6a6a6a;
    border-radius: 10px;
}


/* Go-Top-Button */
#button-up{
    font-size: 4.5rem;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    transition: .2s ease;
    transform: scale(0);
}
#button-up:hover{
    transform: scale(1.2);
    border-color: #6a6a6a;   
}

/* Formulario de contacto */
.form-container{
    background-color: #fdfdfd;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form-title{
    text-align: center;
    font-size: 1.9em;
    margin-bottom: .4em;
}
.forma{
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: .2em;
}
.forma-mensaje{
    resize: none;
    padding: 1.8em .5em;
}
.form-cta{
    background-color: #0099cc;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}
@media (max-width: 450px){
    .form{
        padding: 3.5em 1.5em;
    }
}

/* Pie de pagina */
footer{
    color: #bbb0b0;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5em;
}